body{
    background-image: url(../static/bg5img.jpg);
    background-size: cover;
    text-align: center;
}
h1{
    font-size: 45px;
    color:white;
}
.logo{
    width:150px;
    height:150px;
}
.button_form:hover{
    opacity: 0.5;
}
.btn{
    font-size: 20;
    letter-spacing: 2;
}